.films-card {
    width: 260px;
    margin-top: 19px;
    transition: .3s all linear;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

    .films-card-img {
        width: 260px;
        height: 340px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .films-card-description {
        margin: 15px 0 0 0;
        padding: 0 20px 20px 20px;
        position: relative;

        h3 {
            text-align: center;
            margin: 0 0 15px 0;
        }

        p {
            font-weight: 700;
            font-size: 19px;
            margin-right: 5px;
        }
        svg {
            position: absolute;
            bottom: 15px;
            right: 15px;
            color : #DF73FF;
            font-size: 22px;
        }
    }

    &:hover {
        border: 1px solid gray;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
}